// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro&display=swap');

// variables
$fontFamilyHeading : 'Source Sans Pro', sans-serif;
$fontFamilyText :'Lato', sans-serif;

// Styles
body {
  font-family: $fontFamilyText;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamilyHeading;
}

@import "~bootstrap/scss/bootstrap";
