@import '_variables.scss';
@import "~bootstrap/scss/bootstrap";

// Styles
body {
  font-family: $fontFamilyText;
  color: $color-secondary-2-1;
  background-color: $color-gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamilyHeading;
}



// content
#content {
  margin-top: 30px;
}

// Landing
#landing-container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-image: url(../img/horus1.jpg);
  background-color: $color-gray;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


